absl-py
asgiref
astunparse
certifi
chardet
charset-normalizer
Django
flatbuffers
gast
google-pasta
grpcio
gunicorn
h5py
idna
importlib_metadata
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opt_einsum
optree
packaging
pillow
protobuf
psycopg2-binary
Pygments
reportlab
requests
rich
six
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
typing_extensions
tzdata
urllib3
Werkzeug
whitenoise
wrapt
zipp
